.SidebarDoc {
  flex: 2;
  border-right: 1px solid #9D7CE5;
  min-height: 95vh;
  background-color: white;
  position: fixed;
  width: 300px; // Increase the width to make the sidebar wider
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;

  .topDoc {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logoImageDoc {
      width: 150px; // Adjust width to fit your design
      height: auto;
    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
  }

  .centerDoc {
    flex: 1;
    padding: 0 30px; // Increase padding to give more space from both sides

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        padding: 12px 15px; // Increase padding for more space inside each item
        margin-bottom: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
        border-radius: 10px;

        &.activeDoc, &:hover {
          background-color: #ece8ff;
        }

        .iconDoc {
          font-size: 20px;
          color: #7451f8;
        }

        span {
          font-size: 16px;
          font-weight: 600;
          color: #444;
          margin-left: 15px;
        }
      }
    }
  }

  .bottomContainerDoc {
    padding: 0 30px; // Increase padding to give more space from both sides

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        padding: 12px 15px; // Increase padding for more space inside each item
        margin-bottom: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
        border-radius: 10px;

        &.activeDoc, &:hover {
          background-color: #ece8ff;
        }

        .iconDoc {
          font-size: 20px;
          color: #7451f8;
        }

        span {
          font-size: 16px;
          font-weight: 600;
          color: #444;
          margin-left: 15px;
        }

        .notificationBadge {
          background-color: red;
          color: white;
          border-radius: 50%;
          padding: 2px 6px;
          font-size: 12px;
          margin-left: auto;
          position: absolute;
          right: 65px;
        }
      }
    }

    .profileDoc {
      display: flex;
      align-items: center;
      padding: 10px 0;
      //border-top: 1px solid rgb(230, 227, 227);
      margin-top: 20px;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .detailsDoc {
        .nameDoc {
          align-self: stretch;
          color: var(--skyethemes-com-mine-shaft, #363636);
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 14px; /* 116.667% */

        }

        .emailDoc {
          align-self: stretch;
          color: var(--skyethemes-com-mine-shaft, #363636);
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 14px; /* 116.667% */
        }
      }
    }
  }
}